body {
    margin: 0;
    padding: 0;
}

.container {
    /*max-width: 1400px;*/
}

.card {
    border: none;
}

.card-body {
    padding: 0 0 0 0.7rem;
}


.practice {
    text-align: center;
}

.practice__title {

    /*font-size="37" */
    font-size: 2rem;
    font-family: SegoeUI-Light, Segoe UI;
    font-weight: 300;
}

.practice__subtitle {
    /*font-size="25" */
    font-size: 1.15rem;
    font-family: SegoeUI-Light, Segoe UI;
    font-weight: 300;

}

a.practice__item,
a.preview__item {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.practice__card:hover {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.practice__topic {
    /*font-size="22"*/
    font-size: 0.9rem;
    font-family: SegoeUI, Segoe UI;
}

.practice__text {
    /*font-size="16"*/
    font-size: 0.85rem;
    font-family: SegoeUI-Light, Segoe UI;
    font-weight: 300;
}

.practice__image {
    max-width: 85%;
    height: auto;
}



.preview__title {
    /*font-size="37"*/


}

.preview__card {
    position: relative;
}

.preview__descr {
    /*font-size="12"*/
    visibility: hidden;
    font-size: 0.6rem;
    font-family: SegoeUI-Light, Segoe UI;
    font-weight: 300;
    transform: translateY(-5%);
    opacity: 0;
    transition: 1s;


}

.preview__item {
    /*font-size="18"*/

    font-size: 0.8rem;
    font-family: SegoeUI, Segoe UI;

}

.preview__item-hover {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.1, 1.1);
}

.preview__item:hover~.preview__descr,
.preview__descr:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(5%);
}

.preview__button {
    font-size: 0.8rem;
    font-family: SegoeUI, Segoe UI;
    /*fill="#1d78ad" font-size="20" font-family="SegoeUI, Segoe UI"*/

}

.preview__image {
    /*  position: absolute;
    bottom: 0;*/
    vertical-align: top;
}






.caption {
    color: #1d78ad;
    font-size: 10rem;
    font-family: SegoeUI-Bold, Segoe UI;
    font-weight: 700;
    line-height: 6.5rem;
}

/*fill="#1d78ad" font-size="300" font-family="SegoeUI-Bold, Segoe UI" font-weight="700"*/
.caption__last {
    text-align: left;
    transform: translateX(-100%);
    transition: 5s;
    padding-left: 5rem;

}

.caption__news {
    text-align: right;
    transform: translateX(100%);
    transition: 5s;
    padding-right: 5rem;
}

.caption__display {
    overflow: hidden;
}

.divv:hover~.caption__last,
.divv:hover~.caption__news {
    transform: translateX(0);
}





.news__item {
    position: relative;
}

.news__title {
    /*font-size="32"*/
    font-size: 1.5rem;
    font-family: SegoeUI, Segoe UI;
}

.news__link {
    /*font-size="18"*/
    color: #3fa3eb;
    font-size: 0.9rem;
    font-family: SegoeUI, Segoe UI;
    margin-right: 8rem;
    position: absolute;
    bottom: 0;
    left: 1rem;
}

.news__date {
    /*font-size="18" font-family="ArialMT, Arial"*/
    font-size: 0.9rem;
    font-family: ArialMT, Arial;
    position: absolute;
    bottom: -1rem;
    right: 0;

}

.news__text {
    /*font-size="18" font-family="SegoeUI-Light, Segoe UI" font-weight="300"*/
    font-size: 0.9rem;
    font-family: SegoeUI-Light, Segoe UI;
    font-weight: 300;
}

.news__title-item {
    /*font-size="24"*/
    font-size: 1rem;
    font-family: SegoeUI, Segoe UI;
}

.news__link-item {
    /*font-size="12"*/
    color: #3fa3eb;
    font-size: 0.75rem;
    font-family: SegoeUI, Segoe UI;
    margin-right: 6rem;
    position: absolute;
    bottom: 0;
    left: 1rem;

}

.news__date-item {
    /*font-size="12"*/
    font-size: 0.75rem;
    font-family: ArialMT, Arial;
    position: absolute;
    bottom: -1rem;
    right: 0;

}

.news__text-item {
    /*font-size="18"*/
    font-size: 0.8rem;
    font-family: SegoeUI-Light, Segoe UI;
    font-weight: 300;
}

.news__button {
    /*fill="#1d78ad" font-size="20" font-family="SegoeUI, Segoe UI"*/
    font-size: 0.85rem;
    font-family: SegoeUI, Segoe UI;
    text-align: center;
}



.slider__button {}

.slider {
    background: #e8e8e8;
}

.slider__items {
    width: 95%;
    margin: 0 auto;
}

.slick-prev:before {
    color: grey;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.slick-next:before {
    color: grey;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}