body {
    margin: 0;
    padding: 0;
}

.practice {
    text-align: center;
}
.card{
	border:none;
}
a,
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.practice__item:hover{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
}

.preview__descr {
    display: none;
}

.preview__item:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.preview__item:hover~.preview__descr {
    display: block;
}