@media (max-width:1600px){
    .card_img{
        min-height:calc(100vw / 8);  
    }
        
}
@media (max-width:1200px){
    .blueLine h1{
        font-size: 2.5rem ;
        
    }
    .news__about{
        bottom: -2.5rem;
    }
}
@media  (max-width: 1100px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: .55rem .8rem;
    }
}
@media  (max-width: 998px) {
    .news__date{
        font-size: 13px;
    }
    .news__link{
        font-size: 15px;
    }
    .news .card{
        padding: 10px 10px;
        border: 1px solid rgba(0,0,0,0.1);
    }
    .preview__title{
        text-align: center;
    }
    .blueLine h1{
        font-size: 2rem ;
        
    }
    .header__text{
       display: none;
    }
    .preview__card:hover{
        flex:none;
        transform:scale(1);
    }
    .anonc_block{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;

    }
    .preview__descr{
        position: static;
        visibility: visible;
        opacity: 1;
        display: block;
        box-shadow: none;
        margin-top: 5px;
    }
    .footer_right__aboutUs:hover {
        width: 250px;
    }

    
    .preview__card {
        -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.2);
    }
    .preview__card:hover  .preview__descr,
    .preview__descr:hover {
        box-shadow: none;
    }
    .news__title{
        font-size: 22px;
    }
    .news__text{
        font-size: 15px;
    }
    .footer_right__socialNetworks ul{
        justify-content: space-around;
    }
    #tutu{
        display: none;
    }
    .news_noanimation{
        display: block;

    }
    .news{
        padding-top: 0rem;
    }
}
@media  (max-width: 991px) {
    .navbar-nav{
        background-color: rgba(0, 0, 0,1);
    }
    .language-full{
        display: none;
    }
    .language-media{
        display: block ;
    }
    .dropdown-item img{
        max-width: 25px;
    }




    button.preview__button-not-hover {
        transform: translateY(0);
        transition: 1s;
    }

    img.image__slick-prev {
        margin-left: 1rem;
    }

    .anon{
        justify-content: center;
    }

    .anonc_cards-main {
        flex: 0 0 85%;
    }
   
}
@media  (max-width: 800px){
    .blueLine h1{
        font-size: 1.25rem ;
        margin-bottom: 0;
        
    }
    .blueLine{
        padding: .5rem 0;
    }
    .menu_header_home .navbar-brand img{
        width: 150px;
        top: -5px;
    }
    .menu_header_home .navbar{
        margin-top: 20px;
    }
    .practice{
        padding-top: 0rem;
    }
    .practice__title{
        font-size: 1.5rem;
    }
    .preview{
        padding-top: 1rem;
    }
}
@media  (max-width: 767px) and (min-width: 480px){
    
    
    .footer_right__socialNetworks{
        text-align: center;
    }

    .footer_right__socialNetworks .iconNetwork{
        justify-content: space-around;
        display: flex;
    }


}
@media  (max-width: 767px) {
    .footer_right{
        align-items: center;
    }
    .footer_right__aboutUs{
        margin:1rem 0;
    }
    .news__card-item{
        padding: 0.5rem;

    }
    .news__card{
        margin:0 0.5rem; 
    }
    .news__date-page{
        text-align: left;
        margin-left:  1rem;
    }
    .practice__image{
        max-width: 50%;
    }

}

@media  (max-width: 500px) {
    .blueLine h1{
        font-size:1rem;
    }
    .menu_header_home .navbar{
        margin-top: 5px;
    }
    .menu_header_home .navbar-brand img {
        width: 134px;
        top: -2px;
    }
    .menu_header_home.background-fixed .navbar-brand img {
        width: 135px;
        top: 0px;
    }
    .down-arrow{
        bottom: 15px;
    }
}


@media  (max-width: 400px) {
    h5.preview__text {
        height: 3.25rem;
    }
    
    img.image__slick-next {
        margin-right: 0.75rem;
    }
    .news .card-body div{
        flex-direction: column;
    }
    .news .card-body div a{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
