


body {
    font-family: 'AvenirNextCyr'; 
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
}
.card-img {
    border-radius: 0;
    max-height: 180px;
    min-height: 100px;
}
/*прижать футер к низу вне зависимости от контента */
    html,body{height: 100%;}
    .wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .wrapper-content {
      flex: 1 0 auto;
    }
    footer{
        flex: 0 0 auto;
    }
/*конец прижать футер к низу вне зависимости от контента */

main.containet {
    max-width: 100%;
}
.navbar{
    background: none;
    padding-top: 0;
    padding-bottom: 0;
}
:hover{
    transition:all .5s;
}
.background-fixed{
    background-color: rgba(0,0,0,.75);
    height: 58px;
    transition: all .3s;

}
.background-fixed:hover{
    background-color: rgba(0,0,0,1);
}

.background-scroll{
    background-color: rgba(0,0,0,.8);
}
.preview, .news{
    padding-top: 3rem;
}
.practice,.caption{
    padding-top: 4rem;
}
.card {
    border: none;
}

.card-body {
    padding: 0;
}

header{
    position: relative;
    color: white;
}




ul{
    list-style-type: none;
}



.img-fluid{
    max-width: 75%;
    height: auto;
}

.menu__admin {
    background: rgba(255, 255, 255, 1);
    text-align: right;
    font-size: 16px;
    z-index: 20;
    height: 36px;
    position: fixed;
    font-weight: 500;
    width: 100%;
}
.menu__admin-user,
.menu__admin-edit,
.menu__admin-exit {
    border-radius: 5px 5px 5px 5px;
    padding: 3px 10px;
    color:rgba(0,0,0,1);
}

a.menu__admin-edit:hover,
a.menu__admin-exit:hover {
    text-decoration: none;
    transition: all .3s;
}
.menu__admin ~ #menu_header,.menu__admin ~ #menu_header >.navbar{
    top:36px;
}


.container{
    max-width: 1600px;
}


/*меню*/
    .menu_header_home .navbar{
        margin-top: 30px;
        transition: all .3s
    }
    .menu_header_home.background-fixed .navbar{
        margin-top: 0px;
        transition: all .3s

    }
    .navbar-brand{
        padding: 0;
        margin-right: 0;
        height: 58px;
        width: 146px;
        position:relative;
    }
    
     .menu_header_home .navbar-brand img{
        width: 200px;
        height: auto;
        left: 0;
        top: -12px;
        position: absolute;
    }
    .menu_header_home.background-fixed .navbar-brand img{
        width: 146px;
        top: 0px;
    }
    .navbar-brand img{
        width: 100%;
    }
    .navbar-brand:hover img{
        cursor: pointer;
        filter: invert(41%) sepia(59%) saturate(1712%) hue-rotate(178deg) brightness(89%) contrast(90%);
    }
    .navbar-nav{
        margin-left: auto;
        height: 100%;
        align-items: stretch;
    }
    .nav-item{
        height: 100%;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        height: 100%;
        line-height: 42px;
        padding: .5rem 1.2rem;
    }
    .banner img{
        width: 100%;
        max-height: 100vh;
    }

    .navbar-light .navbar-toggler{
        color: white;
        border-color: white;
    }

    .navbar-light .navbar-toggler-icon{
        width: 25px;
    }

    .navbar-expand-lg a{
        color: white;
    }

    .navbar-light .navbar-nav .nav-link{
        color: white;
    }

    .dropdown-toggle img{
        max-width: 25px ;
    }

    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
        color:rgba(255,255,255,1);

    }
    .background-fixed .navbar-light .navbar-nav .active>.nav-link,
    .background-fixed .navbar-light .navbar-nav .nav-link.active,
    .background-fixed .navbar-light .navbar-nav .nav-link.show,
    .background-fixed .navbar-light .navbar-nav .show>.nav-link{
        background-color:#fff;
        color:#000;
        
    }
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
        color:rgba(0, 0, 0,1);
        background-color:rgba(255,255,255,1);
    }
    .dropdown-menu{
        background-color:rgba(0, 0, 0,0.6);
        padding-top: 0;
        padding-bottom: 0;
        min-width: 0;
    }
    .dropdown-toggle::after{
        vertical-align: 0.120em;
    }
    .language-full{
        width: 74px;
        display: flex;
        align-items: center;
    }
    .language-full img{
        margin-top: -3px;
    }
    .language-full #language-choice{
        cursor: pointer;
        border: none;
        background: transparent;
        color: white;
        padding: 0 10px;
        text-transform: capitalize;
        height: 100%;
    }
.language-full #language-choice:hover{
    background: #fff;
    color: black;
}
.language-full #language-choice:focus{
    outline: none;
}
.language-full #language-choice option:hover{
    cursor: pointer;
}
.language-full #language-choice option{
    color: #000;
    cursor: pointer;
}
/*конец меню*/
.filter{
    position:absolute;
    top:0;
    margin: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 0.75);

}

.language-media__select{
    margin-left: 1rem;
}

.language-media{
    display: none;
}

.string__right {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 0;
    align-items: center;
    font-weight: bold;
    font-size: 0.7rem;
    margin-right:5rem;
}

.language img{
    height: 1rem;
    width:1rem;
}

.string__right li a {
    color: white;
    text-decoration: none;
    padding: 0.25rem 1rem;
}

.string__right li a:hover{
    background-color:rgba(0, 0, 0,0.6);
}

.job-practik-hide{
    display: none;
    font-size: 0.6rem;
    width: 40%;
    margin-top: 0.5rem;
}

.job-practik:hover .job-practik-hide{
    display: flex;
    position: absolute;
    background-color:rgba(0, 0, 0,0.6);
}

.job-practik-hide ul{
    list-style-type:disc;
}
.job-practik-hide li{
    margin:0.3rem 0; 
}

.job-practik-hide__left{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 10%;
    padding-left:1rem;
}
.job-practik-hide__right{
    display: flex;
    flex-flow: column;
    width: 45%;
    padding-left:1rem;

}

.documents-hide{
    display: none;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}

.documents:hover .documents-hide{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0 , 0.6);
    padding: 0.4rem;
    padding-left: 0;
    
}

.header-title_block{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;    
    left: 0;
}
.blueLine{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: rgba(43,93,145,.7);
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    margin-top: 0;
    color: rgba(255,255,255,.8);
}
.blueLine h1{
    font-weight: 700;
    font-size: 3rem;
    width: 80%;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.blueLine:hover{
    color:#fff;
    text-decoration: none;
    background-color: rgba(43,93,145,1);
    cursor: pointer;
}

.header__text{
    text-align: center;
    margin-bottom: 0;
    position: relative;
    font-size: 18px;
}

.down-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:30px;
    transform: translateY(-90%);
    height: 2rem;
    width: 2rem;
    border: white 1px solid;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.down-arrow img{
    height: 0.8rem;
    width: 0.8rem;
}
.down-arrow:hover{
    border-color:#2b5d91;
}
.down-arrow:hover img{
    filter: invert(14%) sepia(16%) saturate(6977%) hue-rotate(190deg) brightness(91%) contrast(89%);
}

#up_scroll{
    display: none;
    align-items: center;
    justify-content:center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: .25rem;
    width: 42px;
    height: 42px;
    background: rgba(65,152,243,.3);
    cursor: pointer;
    padding: 8px;
    z-index: 10;
}
#up_scroll:hover{
    background: rgba(65,152,243,.8);
}
#up_scroll img{
    width: 100%;
}



.practice {
    text-align: center;
}

.practice__title {
    font-size: 2rem;
    font-weight: 300;
}

.practice__subtitle {
    font-size: 1.15rem;
    font-weight: 300;

}

a.practice__item,
a.preview__item {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.practiceitem {
    height: 100%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    -webkit-box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, .15);
}
.practice__card:hover {
    height: 100%;
    -webkit-box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 10px -1px 21px 3px rgba(0, 0, 0, .15), 10px 55px 127px -40px rgba(0, 0, 0, .15);
    transform: scale(1.015) translateX(-5px) translateY(-5px);
    background:#fff;
    z-index: 10;
}

.practice__topic {
    font-size: 0.9rem;
}

.practice__text {
    font-size: 0.85rem;
    font-weight: 425;
}

.practice__image {
    max-width: 60%;
    height: 230px;

}


.anonc_cards{
    margin-bottom: 25px;
}
.anonc_block{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.preview__last-row{
    margin: 3rem 0;
}
.preview__card {
    position: relative;
    flex:1 1 20%;
    min-height: 300px;
    margin: 0 15px 20px;
    z-index: 5;
    padding: 0 15px;
    max-width: 304px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 0px 3px 5.82px 0.18px rgba(133, 133, 133, 0.3);
    -moz-box-shadow: 0px 3px 5.82px 0.18px rgba(133, 133, 133, 0.3);
    box-shadow: 0px 3px 5.82px 0.18px rgba(133, 133, 133, 0.3);
    background-color: rgb(255, 255, 255);
}
.card-title {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 520;
    line-height: 1.5;
}
.card-location{
    color: rgb(175, 175, 175);
    font-size: 15px;
    margin-bottom: 10px;
}
.card-location i{
    font-size: 18px;
}
.card-description{
    font-size: 14px;
    color: rgb(170, 170, 170);
}
.card-date{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.card-date-item{
    display: flex;
    align-items: center;
    color: rgb(170, 170, 170);
    font-size: 14px;
    margin-right: 25px;
}
.card-date-item:last-child{
    margin-right:0;
}
.card-date-item i{
    margin-right: 8px;
    font-size: 18px;
    
}
.card-footer{
    margin-top: 10px;
    background: #fff;
}

.card-footer a{
    margin:5px auto;
    width: 120px;
    display: block;
    font-size: 12px;
    font-weight: 530;
    text-transform: uppercase;
}
.card_img{
    margin-bottom: 10px;
    min-height: 220px;
    margin-left: -15px;
    margin-right: -15px;
}
.empty-fild{
    box-shadow: none;
}
.preview__title{
    margin-bottom: 20px;
}
/*



.preview__body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.preview__descr {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top:20px;
    background: white;
    visibility: hidden;
    font-size: 0.85rem;
    font-family: AvenirNextCyr-Light;
    font-weight: 425;
    display: block;
    opacity: 0;
    transition: 1.5s;
    padding: 10px;
    -webkit-box-shadow: 0px 32px 195px -24px rgba(34, 34, 34, 0.2);
    -moz-box-shadow: 0px 32px 195px -24px rgba(34, 34, 34, 0.2);
    box-shadow: 0px 32px 195px -24px rgba(34, 34, 34, 0.2);
    z-index: 2;
}
.preview__item:before{
    background: transparent;
    content: '';
    left:0;
    position: absolute;
    bottom: -20px;
    height:20px;
    width: 100%;
}
.preview__item {
    height: 100%;
    font-size: 13px;
    font-family: AvenirNextCyr-Regular;
    position: relative;
    z-index: 4;
    background: #fff;
    padding: 0 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.preview__text {
        position: absolute;
    top: 0;
    font-size: 18px;
     line-height: normal;
}

.preview__card:hover {
    -webkit-box-shadow: 0px 2px 9px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 9px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 9px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05, 1.05);
    cursor: pointer;
}
.preview__card:hover  .preview__descr,
.preview__descr:hover {
    visibility: visible;
    opacity: 1;
    top:98%;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.2);
}
.preview__card .card:hover ~ .preview__descr{
    z-index:2;
}
.preview__button {
    font-size: 0.8rem;
    font-family: AvenirNextCyr-Demi;
}


.preview__button-not-hover {
    transform: translateY(0%);
    transition: 1s;
}

.preview__button-hover {
    transform: translateY(450%);
    transition: 1s;
}*/

/*.card_img{
    margin-bottom: 10px;
    min-height: 220px;
    margin-left: -15px;
    margin-right: -15px;
}
*/

.caption {
    color: #1d78ad;
    font-size: 10rem;
    font-weight: bold;
}

.caption__display{
    text-align: center;
    overflow: hidden;
    height: 30rem;;
}

.caption__display.hover{
    opacity: 0;
    transform: translateY(-100%);
    transition: all 2s;

}

.caption__displays.hover{
    max-height: 0;
    transition: 15s linear;
}

.caption__all{
    color: #1d78ad;
    transition: all 1s;
    opacity: 0;
    line-height: 0.8;
    margin-bottom: 0;
    margin-top: 3rem;
    
}

.caption__last{
    transform: translateX(-100%)
  }
  
  .caption__last.hover{
      opacity: 1;
      transition: all 5s;
      transform: translateX(-10%)
  }

.caption__news{
  transform: translateX(100%)
}

.caption__news.hover{
    transition: all 5s;
    opacity: 1;
    transform: translateX(10%)
}


.news__item {
    position: relative;
}

.news__title {
    font-size: 26px;
}

.news__link {
    color: #3fa3eb;
    font-size: 17px;

}

.news__date {
    font-size: 15px;
    font-family: Arial;
    display: block;
    margin-bottom: 0;
}

.news__text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.news__title-item {
    font-size: 22px;
}

.news__link-item {
    color: #3fa3eb;
    font-size: 15px;
}

.news__date-item {
    font-size: 13px;
    font-family: Arial;
    margin-bottom: 0;
}

.news__text-item {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}

.news__button {
    font-size: 1rem;
    text-align: center;
}

.slider__items {
    width: 95%;
    margin: 0 auto;
}

.brand-slider_item{
    max-height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.brand-slider_link img{
    width: 100%;

}
.brand-slider_link:hover img{
    transition: all .2s;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}
.slick-prev:before {
    color: grey;
    border-radius: 100% 100% 100% 100% / 0 0 0 0;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.slick-next:before {
    color: grey;
    border-radius: 100% 100% 100% 100% / 0 0 0 0;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.slick-slide img{
    margin: 0 auto;
}
.slider{
    overflow: hidden;
}
.slider__image {
    max-width: 11em;
    height: auto;
}
.news_noanimation{
    display: none;
}

footer{
    background: #222222;
    font-size: 0.85rem;
    padding: 1.5rem 0 ;
    margin-top: 20px;
}
.footer_left {
    padding-left: 0;
    margin-bottom: 0;
}
.footer_left li{
    display: flex;  
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
}
.footer_left li:last-child{
    margin-bottom: 0rem;
}
.footer_left img{
    height: 1rem;
    width: 1rem;
}

.footer_left p{
    margin-bottom: 0;
    margin-top: 0;
}

.footer_left .circle{
    display: flex;
    height: 2rem;
    width: 2rem;
    background: #31393B;
    border-radius:50%; 
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    min-width: 2rem;
}

.white-content{
    color: white;
}

.footer_left__location{
    color: white;
}

.footer_left__telNumber{
    color: white;
}

.footer_left__email{
    color: #1D78AD;
}
.footer_right{
    padding-left: 0;
    color: white;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.footer_right__aboutUs{
    display: flex;
    text-align: center;
    border-radius:20px;
    background-color: #1D78AD;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    justify-content: flex-start;
    padding: 0;

}
.footer_right__aboutUs{
    width: 250px;
    transition: all .3s;
}
.footer_right__aboutUs:hover{
    width: 100%;
}
.footer_right__aboutUs div{
    width: 80%;
}
.footer_right__aboutUs a{
    display: flex;
    align-items: center;
    color: #fff;
    height: 100%;
    width: 100%;
}
.footer_right__aboutUs a:hover{
    text-decoration: none;
}
.footer_right__aboutUs .circle{
    background: white;
    border-radius: 50%;
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -5px 0px -5px 0;
    
}

.footer_right__aboutUs img{
    height: 1rem;
}
.footer_right__socialNetworks{
    font-size: 1rem;
}
.footer_right__socialNetworks ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0;
}
.footer_right__socialNetworks .circle{
    display: flex;
    margin-right: 0.5rem;
    background: white;
    border-radius:50%; 
    height: 2rem;
    width: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer_right__socialNetworks img{
    height: 1rem;
    width: 1rem;
}


.footer_right__socialNetworks .facebook .circle:hover{
    background: #4267b2;
}

.footer_right__socialNetworks .instagram .circle:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.footer_right__socialNetworks .telegram .circle:hover{
    background: #30a8dc;
}


/*стили для акордиона collapse*/
.accord{
    font-size: 1.5rem;
    font-weight: 300;

}
.accord__text .card .collapse.show{
    border-right: 1px solid rgba(33,147,247,.1);
    border-left: 1px solid rgba(33,147,247,.1);
}
.accord__text .card-body{
    padding:0;
}
.accord__text{
    font-size: 1rem;
}

.accord__table{
    padding: 0;
}
.accord__table li{
    margin-left: 0;
    
    border-bottom: 1px solid rgba(33,147,247,.2);

}
.accord__table li a{
    color: black;
    width: 100%;
    display: block;
    padding: 0.75rem .75rem 0.75rem 1.75rem;
}
.accord__table li a:hover{
    color: rgba(33,147,247,1);
    text-decoration: none;
    background:  rgba(33,147,247,.2);
}

.accord__table li:first-child{
    border-top:1px solid rgba(33,147,247,.2);
}
.accord__table li:last-child{
    border-bottom:1px solid rgba(33,147,247,.2);
}
.accord__text .card-header{
    padding: 0;
}
.accord__text .card-header h5 button{
    text-align: left;
    width: 100%;
    padding: .75rem 1.25rem;
    background: rgba(33,147,247,.54);
    color: #fff;
    font-weight: 560;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: 3px 2px 9px 0px rgba(33,147,247,.54);
    -moz-box-shadow: 3px 2px 9px 0px rgba(33,147,247,.54);
    box-shadow: 3px 2px 9px 0px rgba(33,147,247,.54);
}
.accord__text .card-header h5 button:last-child{
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.accord__text .card-header h5 button.collapsed{
    background: rgba(68,143,210,.36);
    color: black;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.accord__text .card-header h5 button.btn:hover{
    background: rgba(33,147,247,.54);
    
}
.accord__text .card-header h5 button.btn:focus{
    -webkit-box-shadow: 3px 2px 9px 0px rgba(33,147,247,.54);
    -moz-box-shadow: 3px 2px 9px 0px rgba(33,147,247,.54);
    box-shadow: 3px 2px 9px 0px rgba(33,147,247,.54);
}

/*open rgba(33,147,247,.54)
close rgba(68,143,210,.36)*/
/*end стили для акордиона collapse*/

.news__border{
    border-bottom: 1px solid  rgba(0,0,0,.1); 
    margin-top: 2rem;
}






.news__text-page {
    font-size: .9rem;
    font-weight: 400;
}
.news__border{
    border-bottom: 1px solid  rgba(0,0,0,.1); 
    margin-top: 2rem;
}


/*стили для документов*/
    .docum{
        background:#4267b2;
        position: relative;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
        direction: ltr;
    }

    .img_document{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
    }
.docum .btn-dark{
    background: rgba(0,0,0,0.2);
    margin:0.25rem 0;
    font-size: 1rem;
    transition: all 0.5s;


}
    .docum .btn-dark:not(:disabled):not(.disabled).active:focus,
    .docum .btn-dark:not(:disabled):not(.disabled):active:focus,
    .docum .show>.btn-dark.dropdown-toggle:focus,
    .docum .btn-dark.focus, .docum .btn-dark:focus{
        box-shadow:none;
    }
.docum  .btn-dark:hover{
    background: rgba(0,0,0,0);
    font-size: 1.5rem;
    transition: all 0.5s;
}

.docum a.active{
    opacity: 0.75;
        /*transform: scale(1.05, 1.25);*/
        font-size: 1.5rem;
       
        

}
.docum  .nav-link.btn-dark.active{
    position: relative;
    border-radius: 0;
    background: rgba(0,0,0,.75);
}
.docum__doc{
    background: rgba(0,0,0,0.75);
    color:rgba(255,255,255,1);
    overflow-y: scroll;
    height: 30rem;
      
}
.docum__btn{
    text-align: center;
margin: auto 0;

}
.docum__li{
    padding: 0;
}
.docum__li a{
    padding: 0.5rem 1rem;
    display: block;
}
.docum__li:hover{
    background: rgba(255,255,255,1);
}
.docum__link{
    color:rgba(255,255,255,1);
}
.docum__li:hover>.docum__link,
.docum__link:hover{
    color:rgba(0,0,0,1);
    text-decoration: none;
}
.docum__ul{
    padding-left: 0;
}

    .docum__doc::-webkit-scrollbar,.docum__btn::-webkit-scrollbar {
  width: 5px;
}

.docum__doc::-webkit-scrollbar-track,.docum__btn::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.75); 
}
 
.docum__doc::-webkit-scrollbar-thumb,.docum__btn::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.9); 
}

.docum__doc::-webkit-scrollbar-thumb:hover ,.btn::-webkit-scrollbar-thumb:hover{
  background: rgba(255,255,255,1);
}

 .docum .nav-link.active:before{
    position: absolute;
    content: '';
    height: 100%;
    /*height: 100px;*/
    width: 5px;
    left: 0;
    top: 0;
    background: rgba(255,255,255,1);

 }
/*конец стили для документов*/

/*Задний фон для страниц с прозрачным текстом */


    .a_n__line {
        position: relative;
        background: #d5d5d5;
        width: 100%;
        margin: 110px 0 16px;
    }

    .a_n__text-first {
        /*position: absolute;*/
        font-size: 3.7rem;
        font-weight: 700;
        color: rgba(255,255,255, 1);
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    }

    .a_n__text-second{
        position: fixed;
        left:-5%;
        font-size: 13rem;
        color:#0f0f0f;
        opacity:0.03;
        z-index: -3;
    }

    .a_n__text-third{
        position: fixed;
        top:25%;
        left:-15%;
        font-size: 30rem;
        color:#0f0f0f;
        opacity:0.03;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        z-index: -3;
    }
    .a_n__text-fourth{
        position: fixed;
        top:45%;
        right: -10%;
        font-size: 10rem;
        transform: rotate(90deg);
        color:#0f0f0f;
        opacity:0.03;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        z-index: -3;
    }

/* конц Задний фон для страниц с прозрачным текстом */

/*для отдельной странице с новостями*/

    .pagin .pagination{
        margin:3rem auto; 
        justify-content: center;
    }

    .news{
        margin:0 auto;

    }
    .news .card{
        padding: 10px 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .news .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .news .card-body div{
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    .news__item{
        margin-bottom: 3rem;
    }


    .anon{
        justify-content:space-around;
    }

    .anonc_cards-main {
        flex: 0 0 30%;
        min-width: 300px;
        margin-bottom: 25px;
    }
/*анонсы*/

/*    .preview__descr-main {
        position: static;
        visibility: visible;
        opacity: 1;
        display: block;
        background: white;
        font-size: 0.85rem;
        font-family: AvenirNextCyr-Light;
        font-weight: 425;
        z-index: 2;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        padding: 1rem;
    }

    .preview__item-main {
        font-size: 0.9rem;
        font-family: AvenirNextCyr-Regular;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        position: relative;
    }

    .abra{
       position: absolute;
        content: '';
        height: 100%;
        width: 4px;
        left: -0.75rem;
        top: 0;
        background: rgba(112,112,112,0.5);
    }
    .preview__descr-main .card-text.text-left,.preview__text{
       position: relative;
    }
    .preview__body{
        position: relative;
        height: 6rem;
    }
    .preview__body div{
        color:rgba(0,0,0,0.5);
        font-weight: 500;
    }
    .preview__card-text-main{
        position: absolute;
        bottom: 0;
        margin:0 0.5rem;
    }*/
/*конец анонсы*/
    .news__card{
        background: rgba(255,255,255,1);
        border-radius: 25px 25px 25px 25px;
        border: 2px solid rgba(236,236,236,1);
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    }
    .news__card-item{
        position: relative;
        padding:3rem 4rem;
    }
    .news__card-item .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /*padding-left: 1rem;*/
    }
    .news__about{
        margin-top: 10px;
        /*position: absolute;
        bottom: 0rem;
        */
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 13px;
    }
    .news__border {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        margin-top: 2rem;
    }

    .news__title-page {
        font-size: 22px;
    }


    .news__link-page {
        color: #3fa3eb;
        font-size: 15px;
        display: block;
        line-height: 1.2;

        /*margin-left: 0.5rem;*/
    }
    .news__date-page {
        text-align: right;
        font-size: 1rem;
        font-family: Arial;
    }
    .news__text-page {
        font-size: 15px;
        font-weight: 400;
        display: block;
    }
    .news__data {
        text-align: right;
    }
    .news__border {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        margin-top: 2rem;
    }

/*конец для отдельной странице с новостями*/





/**/
/*отдельная страница  с анонсами*/
/*.preview__descr-page {
        position: static;
        visibility: visible;
        opacity: 1;
        display: block;
        background: white;
        font-size: 0.85rem;
        font-family: AvenirNextCyr-Light;
        font-weight: 425;
        z-index: 2; 
        padding: 1rem;
    }

    .preview__item-page {
        font-size: 0.9rem;
        font-family: AvenirNextCyr-Regualr; 
        position: relative;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .preview__card-page {
    position: relative;
    flex:1 1 30%;
    min-height: 300px;
    margin: 0 15px 20px;
    z-index: 5;
    padding: 0;
     box-shadow: 0px 2px 9px 5px rgba(0, 0, 0, 0.2);

}
.preview__text-page {
        position: absolute;
    top: 0;
    font-size: 18px;
    font-family: AvenirNextCyr-Regular;
    line-height: normal;
}
    .preview__card-text-page{
        position: absolute; ;
        bottom: 0;
        margin:0 0.5rem;
    }
    .preview__descr-text-page{
        position: relative;
    }*/

/*конец отдельная страница  с анонсами*/



/**/

/*28.05.19*/
 .docum .btn-dark:hover{
    background: rgba(0,0,0,0.2);
}

/**/
