.black-line{
    width: 100%;
    border-top: 1px solid #ebedf2;
}
.info-seach{
    font-size: 2rem;
    text-align: center;
}

.but-plus{
    position: absolute;
    right: 0;
    
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

#list span{
    position: relative;
    opacity: 1;
}
#list span:hover{
    opacity: 0.7;
    cursor: pointer;
}
#list span:hover::before, #list span:hover::after {
    background-color: red;
}

#files{
    margin-top: 10px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{
    -webkit-text-fill-color: #495057 !important;
}

#list span::before, #list span::after {
    position: absolute;
    content: ' ';
    height: 0.9rem;
    width: 3px;
    /* transform:  ; */
}
#list span:before {
    left:44%;
    top:50%;
    transform: rotate(45deg)  translateY(-50%);
}
#list span:after {
    left:50%;
    top:50%;
    transform: rotate(-45deg)  translateY(-50%);
}

.form-group:first-child{
    margin-top:2rem;
}

.partners{
    border: 2px solid #ebedf2;
    max-width: auto;
    margin-bottom: 1rem;
}
.add-partners{
    margin:0 0 1rem ;
}
.btn-brand-minus{
    background-color: #d11515;
    color: white;
    left: 60px;  
    font-size: 18px;
    
    padding: 0 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto ;
    min-width: 30%;
}

.btn-social-minus{
    background-color: #d11515;
    color: white;
    left: 60px;  
    font-size: 18px;
    min-width: 30%;
    padding: 0 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
